<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <!-- Experiencia -->
    <section id="experiencia" class="container my-5">
        <h2>Experiencia Laboral</h2>
        <article>
            <h3>Encargado del &aacute;rea de Sistemas</h3>
            <li>Backup Autom&aacute;ticos de todas las sucursales de la empresa (SQL Server).</li>
            <li>Soporte del sistema transaccional SCOMERS CPE.</li>
            <li>Soporte t&eacute;cnico en general (Formateo pc Laptops y servidores, instalaci&oacute;n de programas b&aacute;sicos, configuraci&oacute;n e instalaci&oacute;n de impresoras, etc).</li>
            <li>Soporte a las incidencias del gestor contable YUAPAY CPE.</li>
            <li>Desarrollo de software (Gesti&oacute;n de incidencias)</li><br>
            <p>2021-01-01 - 2023-10-30</p>
        </article>
        <article>
            <h3>Encargado del &aacute;rea de Infraestructura</h3>
            <li>Instalaci&oacute;n de Servidores en Azure.</li>
            <li>Otras tareas (Derrollo web Frelance)</li>
            <p>2024-01-15 - Actual</p>
        </article>
    </section>
    <%- include('partials/footer') %>
</body>
</html>