<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
     <!-- Habilidades -->
     <section id="habilidades" class="container my-5">
        <h2>Habilidades</h2>
        <ul>
            <li>HTML, CSS y JavaScript: Dominio de los fundamentos del desarrollo web, asegurando que las interfaces sean atractivas y funcionales.</li>
            <li>Frameworks y bibliotecas: Experiencia en Laravel, o CodeIgniter.</li>
            <li>Lenguajes de programación de servidor: Dominio de al menos un lenguaje de back-end  PHP.</li>
        </ul>
    </section>


    <%- include('partials/footer') %>
</body>
</html>