<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
   
</head>
<body>
    <%- include('partials/navigation') %>
    <!-- Header -->
    <header class="bg-primary text-white text-center py-5 mt-5">
        <h1>Hola, soy Euler Tuanama Tuanama</h1>
        <p>Egresado t&eacute;cnico en el Servicio Nacional de Adiestramiento en Trabajo Industrial SENATI – TARAPOTO en 
            la carrera de DESARROLLO DE SOFTWARE. Persona capaz, creativo, organizado, honesto y trabajo en equipo 
            para desempeñarse con eficiencia en el &aacute;rea, 
            con compromiso y responsabilidad con la empresa.</p>
    </header>
    

    <%- include('partials/footer') %>
</body>
</html>