<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
   <!-- Proyectos -->
   <section id="proyectos" class="container my-5">
        <h2>Proyectos mas importantes</h2>
        <ul>
            <li><a href="#" target="_blank">Restaurante</a>: Optimiza la operación diaria, como la gestión de mesas, pedidos, inventario, facturación y manejo de clientes</li>
            <li><a href="#" target="_blank">Gestión de venta e inventario</a>: Resuelve los problemas que afectan la operación diaria</li>
        </ul>
    </section>

    <%- include('partials/footer') %>
</body>
</html>