<section id="proyectos" class="container my-5">
    <h2>Proyectos</h2>
    <ul>
        <li><a href="link-al-proyecto1.com" target="_blank">Sietema de punto de Venta</a>: </li>
        <li><a href="link-al-proyecto2.com" target="_blank">Proyecto 2</a>: Breve descripción</li>
        <li><a href="link-al-proyecto3.com" target="_blank">Proyecto 3</a>: Breve descripción</li>
    </ul>
</section>